# Snakemake
.snakemake/
*.snakemake.log

# Results and reference (large files)
results/
logs/
resources/

# conda environments (built locally)
.conda/

# R
.Rhistory
.RData
*.Rproj.user/
renv/library/

# For test
old/
workflow/profiles/local/config.yaml
